main.container {
    max-width: 500px;
}

section#dice-buttons div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section#output {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    min-height: 80px;
    align-items: center;
    padding: 10px;
}

section#output div img {
    height: 20px;
}

section#output div div {
    text-align: center;
}

section#dice-buttons .dice-button img {
    height: 50px;
}

@media only screen and (prefers-color-scheme: dark) {
    section#dice-buttons .dice-button img {
        filter: invert(1);
    }
}
